
:root {
  --primary: rgb(58, 58, 58);
  --secondary: rgb(240, 175, 175);
  --tertiary: rgb(178, 243, 210);
  --shadow: rgb(104, 104, 104);
  --background-color: rgb(246, 244, 251);
  --card-background-color: rgb(236, 234, 244);
  --glass: rgba(255, 255, 255, 0.1);

  --subtitle: rgb(104, 104, 104);
  --text-color: rgb(58, 58, 58);

  --default-svg: rgb(104, 104, 104);
  --footer-text-color: rgb(232, 232, 232);
  --footer-background-color: rgb(104, 104, 104);

  --link-background-color: rgb(104, 104, 104);
  --link-text-color: rgb(246, 246, 246);

  --a-visited-color: rgb(194, 132, 242);
  --a-text-color: rgb(32, 130, 215);

  --purple: rgb(223, 194, 246);
  --pink: rgb(246, 194, 231);
  --green: rgb(186, 246, 192);
  --yellow: rgb(247, 235, 184);
}

body[data-theme='dark'] {
  --primary: rgb(246, 244, 251);
  --secondary: rgb(178, 243, 210);
  --tertiary: rgb(240, 175, 175);
  --shadow: rgb(58, 58, 58);
  --background-color: rgb(104, 104, 104);
  --card-background-color: rgb(128, 127, 130);
  --glass: rgba(255, 255, 255, 0.1);

  --subtitle: rgb(210, 210, 210);
  --text-color: rgb(246, 244, 251);

  --default-svg: rgb(237, 237, 237);
  --footer-text-color: rgb(239, 239, 239);
  --footer-background-color: rgb(72, 72, 72);

  --link-background-color: rgb(235, 235, 235);
  --link-text-color: rgb(58, 58, 58);

  --a-visited-color: rgb(233, 205, 255);
  --a-text-color: rgb(123, 186, 240);
}

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

a {
  color: var(--a-text-color);
}

a:visited {
  color: var(--a-visited-color);
}

ul {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  justify-content: space-between;
  align-items: center;
  min-height: 100svh;
}

p, li {
  font-size: 1rem;
  line-height: 2rem;
}

img, video {
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0 12px 20px -10px var(--shadow);
}

h1,h2,h3,h4,h5 {
  font-weight: 400;
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}

h3 {
  font-size: 2rem;
  line-height: 3rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h5 {
  font-size: 1rem;
  line-height: 1rem;
  color: var(--subtitle);
}