// MIXINS
@mixin link() {
  background-color: var(--link-background-color);
  border-radius: 5px;
  color: var(--link-text-color);
  padding: 8px 15px;
  align-self: center;
}

@mixin flexCol() {
  display: flex;
  flex-direction: column;
}

@mixin flexColCentered() {
  @include flexCol;
  justify-content: center;
  align-items: center;
}

@mixin pageWidthMixin() {
  @include flexCol();
  flex: auto;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
  gap: 20px;

  @include tablet {
    padding: 20px 40px;
  }
}

@mixin cardContainer() {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@mixin card() {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 12px 20px -10px var(--shadow);
  background-color: var(--card-background-color);

  @include tablet {
    // flex-direction: row;
    padding: 30px;
  }
}

@mixin container() {
  flex: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-inline: 20px;
  max-width: 1200px;

  @include tablet {
    padding-inline: 40px;
  }
}

// MEDIA QUERIES
$tablet: 768;
$desktop: 1025;

@mixin tablet {
  @media (min-width: #{$tablet}px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}px) {
    @content;
  }
}

// this is needed when we want the variables from css in javascript
// e.g. navbar needs to know the breakpoint for tablet
:export {
  tablet: $tablet;
}
