@import "@/styles/mixins.module.scss";

.footer {
  width: 100%;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;

  .themeContainer {
    height: 30px;
    width: 30px;
    margin: 0 20px;
  }
}
