@import "@/styles/mixins.module.scss";

.skillsSection {
  @include pageWidthMixin;

  .desktopTip {
    display: none;

    @include desktop {
      display: block;
    }
  }

  .mobileTip {
    display: block;

    @include desktop {
      display: none;
    }
  }
}
