@import "@/styles/mixins.module.scss";

.aboutSection {
  @include pageWidthMixin;
  @include flexCol;
  gap: 20px;

  .container {
    .section {
      @include cardContainer;
      margin-bottom: 20px;

      .card {
        @include card;
        @include flexCol;

        @include tablet {
          display: block;
        }

        .headingContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0;

          @include tablet {
            gap: 20px;
            flex-direction: row;
            justify-content: space-between;
          }

          .title {
            margin: 5px 0;

            @include tablet {
              margin: 10px 0;
            }
          }

          .subtitle {
            color: var(--subtitle);
            opacity: 0.8;
            margin: 5px 0;

            @include tablet {
              margin: 10px 0;
            }
          }
        }

        .img {
          align-self: center;

          @include tablet {
            float: left;
            margin: 20px;
          }
          &.flip {
            @include tablet {
              float: right;
            }
          }
        }
      }
    }
  }
}
