@import "@/styles/mixins.module.scss";

.switch {
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;

  &.light {
    justify-content: flex-start;
  }

  &.dark {
    justify-content: flex-end;
  }

  .themeIcon {
    width: 100%;
    height: 100%;
  }
}
