@import "@/styles/mixins.module.scss";

.portfolioItems {
  @include cardContainer;

  .card {
    @include card;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }

    .vid {
      width: 100%;
      height: 100%;

      @include tablet {
        width: 300px;
        height: 300px;
      }

      @include desktop {
        width: 400px;
        height: 400px;
      }
    }

    .textContainer {
      margin: 20px;

      .linkContainer {
        margin: 10px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        gap: 20px;

        @include tablet {
          flex-direction: row;
          gap: 0;
        }

        .link {
          @include link;
        }
      }
    }
  }
}
