@import "@/styles/mixins.module.scss";

.blogSlugSection {
  @include pageWidthMixin;
  justify-content: flex-start;
  width: 100%;

  .blogContainer {
    @include flexCol;
    flex: auto;
    justify-content: center;
    width: 100%;
    gap: 20px;

    .blogContent {
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        margin: 10px;
      }
    }

    .loadingContent {
      flex: 1;
    }
  }

  .backLink {
    @include link;
  }
}
